.textBloc {
  font-size: 13px;
  font-weight: 600;
  border: 1px solid #babfc7;
  background: #f8f8f8;
  text-align: center;
  align-items: center;
  justify-content: center;

  p {
    width: 210px;
  }
}

.table_container {
  overflow-x: auto;
}

th,
td {
  font-size: 13px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.p-button.p-button-icon-only.p-button-rounded {
  width: 2rem;
  height: 2rem;
}

.red-background {
  background-color: rgb(235, 104, 104);
}
