.textBloc {
  font-size: 12px;
  border: 1px solid #babfc7;
  background: #F8F8F8;

  p {
    width: 210px;
  }
}

.table_container {
  overflow-x: auto;
  text-align: center;
}

.totalCell {
  font-weight: 600;
  padding: 2px;
  text-align: center;
}

:host ::ng-deep {
  .p-datatable .p-datatable-tbody>tr>td {
    text-align: center;
  }

  .p-datatable .p-datatable-thead>tr>th {
    text-align: center;
  }
}