:host ::ng-deep .p-datatable {
    overflow-x: auto;
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr {
    display: flex;
    flex-wrap: nowrap;
}

:host ::ng-deep .p-datatable .p-datatable-tbody {
    width: 100%;
    display: block;
    overflow-x: auto;
}

.descripcion {
    min-width: 250px;
    max-width: 280px;
    display: flex;
}

.idTipoInterfaz {
    min-width: 150px;
    max-width: 180px;
}

.numRegistros {
    min-width: 140px;
    max-width: 180px;
}

.nombreFichero {
    min-width: 250px;
    max-width: 250px;
}

.usuario {
    min-width: 100px;
    max-width: 300px;
}

.fechaImportacion {
    min-width: 150px;
    max-width: 180px;
}

.idVersionStaffing {
    min-width: 100px;
    max-width: 100px;
}

.p-inputtext {
    font-weight: 400;
    height: 25px;
    padding: 2px;
}

.p-datatable-thead {
    margin: 10px;
}

.col.field {
    text-align: center;
}

.sticky-header {
    min-width: none;
    max-width: 120px;
}

.text-left {
    text-align: left;
}