<div class="flex flex-row justify-content-between">
  <div class="flex justify-content-start">
    <h3 class="p-0 m-0 mb-2">Lista de Archivos de Staffing</h3>
  </div>
</div>

<div class="flex flex-row justify-content-between">
  <div
    class="flex w-12rem h-2rem gap-2 border-round-2xl align-items-center mt-3"
    style="background-color: #e7edef"
  >
    <div class="pl-3">
      <i class="pi pi-file text-xl text-primary"></i>
    </div>
    <div class="flex flex-row align-items-center gap-1 text-sm">
      <p>{{ totalStaffing }}</p>
      Archivos de Staffing
    </div>
  </div>
  <div>
    <button
      tooltipPosition="top"
      pButton
      pRipple
      type="button"
      icon="pi pi-filter-slash"
      class="p-button-lg m-2 p-button-outlined p-button-secondary"
      pTooltip="Limpiar filtros"
      (click)="cleanFilters()"
    ></button>
    <button
      tooltipPosition="top"
      pButton
      pRipple
      type="button"
      icon="pi pi-cog"
      class="p-button-lg m-2 p-button-outlined p-button-secondary"
      pTooltip="Visualización columnas"
      (click)="showConfig()"
    ></button>
  </div>
</div>

<p-table
  [style]="{ height: 'calc(100vh - 210px)', width: tableWidth }"
  [scrollable]="true"
  scrollHeight="flex"
  selectionMode="single"
  [value]="staffing"
  styleClass="p-datatable-striped "
  [paginator]="false"
  sortField="id"
  [sortOrder]="-1"
  [(filters)]="defaultFilters"
  (onFilter)="onFilter($event)"
  [columns]="selectedColumnNames"
  [reorderableColumns]="true"
  (onColReorder)="onColReorder($event)"
  (sortFunction)="customSort($event)"
  [customSort]="true"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        *ngFor="let col of selectedColumnNames"
        class="{{ col.field }} flex flex-column"
        pReorderableColumn
      >
        <div
          class="flex flex-row w-full top-header"
          pSortableColumn="{{ col.composeField }}"
        >
          <span class="flex flex-1 justify-content-center">{{
            col.header
          }}</span>
          <p-sortIcon field="{{ col.composeField }}"></p-sortIcon>
        </div>

        <div class="w-full foot-header">
          <p-columnFilter
            *ngIf="col.filterType == 'input'"
            class="w-full"
            type="text"
            field="{{ col.composeField }}"
            [showMenu]="false"
            [showClearButton]="false"
            matchMode="contains-and-null"
          >
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <input
                tabindex="1"
                type="text"
                pInputText
                [ngModel]="value"
                (ngModelChange)="filter($event)"
                class="p-inputtext"
              />
            </ng-template>
          </p-columnFilter>

          <p-columnFilter
            *ngIf="col.filterType == 'dropdown'"
            class="w-full"
            field="{{ col.composeField }}"
            matchMode="{{
              col.matchMode != null ? col.matchMode : 'contains-and-null'
            }}"
            [showMenu]="false"
            [showClearButton]="false"
          >
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-dropdown
                tabindex="1"
                *ngIf="col.optionValue"
                #filterDropdown
                [options]="col.options"
                optionLabel="{{ col.optionLabel }}"
                optionValue="{{ col.optionValue }}"
                (onChange)="filter($event.value)"
                [showClear]="true"
                placeholder="..."
                [showClearButton]="false"
                [filter]="true"
              ></p-dropdown>
              <p-dropdown
                tabindex="1"
                *ngIf="!col.optionValue"
                #filterDropdown
                [options]="col.options"
                optionLabel="{{ col.optionLabel }}"
                (onChange)="
                  filter(
                    $event.value == null ? null : $event.value[col.optionLabel]
                  )
                "
                [showClear]="true"
                placeholder="..."
                [showClearButton]="false"
                [filter]="true"
              ></p-dropdown>
            </ng-template>
          </p-columnFilter>

          <p-columnFilter
            *ngIf="col.filterType == 'multiple'"
            class="w-full"
            field="{{ col.composeField }}"
            matchMode="multiple"
            [showMenu]="false"
            [showClearButton]="false"
          >
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-multiSelect
                tabindex="1"
                [showHeader]="false"
                [ngModel]="col.initialValue"
                [options]="col.options"
                optionLabel="label"
                optionValue="value"
                (onChange)="filter($event.value)"
                [showClear]="true"
                placeholder="..."
              >
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <th class="buttons flex flex-column">
        <div class="flex flex-row w-full top-header"></div>
        <div class="w-full foot-header"></div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-staffing let-columns="columns">
    <tr [pSelectableRow]="staffing">
      <td *ngFor="let col of selectedColumnNames" class="{{ col.field }}">
        <div
          *ngIf="!col.fieldExtra && !col.parse"
          class="white-space-nowrap overflow-hidden text-overflow-ellipsis"
          pTooltip="{{ staffing[col.field] }}"
          tooltipPosition="top"
        >
          <ng-container *ngIf="col.field === 'fechaImportacion'">
            {{ staffing[col.field] | date : "dd/MM/yyyy" }}
          </ng-container>
          <ng-container *ngIf="col.field === 'idTipoInterfaz'">
            {{ staffing[col.field] === 2 ? "Staffing" : staffing[col.field] }}
          </ng-container>
          <ng-container
            *ngIf="
              col.field !== 'fechaImportacion' && col.field !== 'idTipoInterfaz'
            "
          >
            {{ staffing[col.field] }}
          </ng-container>
        </div>
        <div
          *ngIf="col.fieldExtra && !col.parse"
          class="white-space-nowrap overflow-hidden text-overflow-ellipsis"
          pTooltip="{{staffing[col.field]?.[col.fieldExtra]}}"
          tooltipPosition="top"
        >
          {{staffing[col.field]?.[col.fieldExtra]}}
        </div>
        <div
          *ngIf="col.parse"
          class="white-space-nowrap overflow-hidden text-overflow-ellipsis"
          pTooltip="{{ col.parse(person[col.field]) }}"
          tooltipPosition="top"
        >
          {{ col.parse(staffing[col.field]) }}
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-toast position="top-center"></p-toast>
<p-confirmDialog
  [closable]="false"
  header="Confirmación"
  icon="pi pi-exclamation-triangle"
  #confirmDialog
></p-confirmDialog>
