
.textBloc {
  font-size: 12px;
  border: 1px solid lightgray;
  align-items: center;
  width: 300px;
}

.tableTitle {
  text-align: center;
  background: lightgray;
}

:host ::ng-deep {
  .bgBlue {
    .p-datatable .p-datatable-thead>tr>th {
      background: #D9E1F2;
    }
  }

  .bgGreen {
    .p-datatable .p-datatable-thead>tr>th {
      background: #E2EFDA;
    }
  }

  .bgBeige {
    .p-datatable .p-datatable-thead>tr>th {
      background: #FFF2CC;
    }
  }

  .bgOrange {
    .p-datatable .p-datatable-thead>tr>th {
      background: #FFE699;
    }
  }

  .bgPink {
    .p-datatable .p-datatable-thead>tr>th {
      background: #FCE4D6;
    }
  }

  .bgGray {
    .p-datatable .p-datatable-thead>tr>th {
      background: #F2F2F2;
    }
  }
}
