<p-progressSpinner
  *ngIf="!load"
  class="flex justify-content-center mt-5"
></p-progressSpinner>

<div *ngIf="load">
  <div class="flex justify-content-between">
    <h3 class="text-primary">
      {{ selectedReportName }}
      <span
        ><p-chip *ngIf="titleScreenshotChip == 1" label="Screenshot"></p-chip
      ></span>
    </h3>

    <div class="my-2 flex justify-content-end">
      <div class="flex align-items-center justify-content-center">
        <!-- Screenshot Selection -->
        <p-dropdown
          [options]="screenshotsOptions"
          class="m-2"
          [style]="{ width: '140px' }"
          [(ngModel)]="selectedScreenshot"
          optionLabel="name"
          [showClear]="false"
          placeholder="Screenshot"
          (onChange)="onScreenshotChange()"
          title="Screenshot"
        >
        </p-dropdown>
      </div>
      <div class="flex align-items-center justify-content-center">
        <!-- Year Selection -->
        <p-dropdown
          [options]="reportYears"
          class="m-1"
          [style]="{ width: '120px' }"
          [(ngModel)]="selectedReportYear"
          [showClear]="false"
          placeholder="Año"
          (onChange)="onYearChange()"
          [disabled]="disableYearDrop"
          title="Año disponible"
        >
        </p-dropdown>
      </div>
      <div class="flex align-items-center justify-content-center">
        <!-- Report Selection -->
        <p-dropdown
          [options]="reportVersions"
          class="m-2"
          [style]="{ width: '240px' }"
          [(ngModel)]="selectedReportVersion"
          optionLabel="descripcion"
          [showClear]="false"
          placeholder="Seleccione una versión"
          (onChange)="onVersionChange()"
          [disabled]="disableVersionDrop"
          title="Versión del Informe"
        >
        </p-dropdown>
        <!-- Search Button-->
        <button
          pButton
          type="button"
          pRipple
          icon="pi pi-search"
          class="p-button-outlined m-2 mr-6"
          (click)="reloadComponent()"
          [disabled]="disableButtonSearch"
          style="height: 42px"
        ></button>
      </div>
      <div class="flex align-items-center justify-content-center">
        <!-- Allow export if role "EXPORTAR" -->
        <button
          *ngIf="authService.hasRole('EXPORTAR')"
          type="button"
          pButton
          pRipple
          icon="pi pi-file-excel"
          class="p-button-outlined my-2"
          (click)="menu.toggle($event)"
          style="width: 70px; height: 42px"
          title="Exportar"
        >
          <i class="pi pi-angle-down m-2"></i>
        </button>
      </div>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
    </div>
  </div>
  <div
    class="flex justify-content-between"
    style="margin-top: 0%; padding-top: 0%"
  >
    <h4
      *ngIf="titleScreenshotChip !== 0 && selectedReportNameUserName"
      style="
        color: #ffffff;
        background-color: #29abe2;
        padding: 12px;
        border-radius: 12px;
      "
    >
      Marcado como ScreenShot el
      {{ selectedReportModificationDate | date : "d/M/yy" }} por
      {{ selectedReportNameUserName }}
    </h4>
  </div>
  <div class="flex flex-column lg:flex-row">
    <div class="card my-3" style="margin-right: 2%">
      <app-table-detail
        [data]="EMData"
        [columnas]="EMCol"
        [text]="EMText"
      ></app-table-detail>
    </div>
    <div class="card my-3">
      <app-table-detail
        [data]="BAData"
        [columnas]="BACol"
        [text]="BAText"
      ></app-table-detail>
    </div>
  </div>

  <div class="flex flex-column lg:flex-row">
    <div class="card my-3" style="margin-right: 2%">
      <app-table-detail
        [data]="ARData"
        [columnas]="ARCol"
        [text]="ARText"
      ></app-table-detail>
    </div>
    <div class="card my-3">
      <app-table-detail
        [data]="SEData"
        [columnas]="SECol"
        [text]="SEText"
      ></app-table-detail>
    </div>
  </div>

  <div class="py-3">
    <app-table-detail
      [data]="IEData"
      [columnas]="IECol"
      [text]="IEText"
    ></app-table-detail>
  </div>

  <!-- Specific Zoom -->
  <h3 class="card my-3">SPECIFIC ZOOM</h3>
  <div class="card py-3">
    <app-table-detail
      [data]="ArSeDevData"
      [columnas]="ArSeDevCol"
      [text]="ArSeDevText"
      [extraHeader]="true"
    ></app-table-detail>
  </div>

  <div class="my-2">
    <app-table-detail
      [data]="ArSeApiData"
      [columnas]="ArSeApiCol"
      [text]="ArSeApiText"
    ></app-table-detail>
  </div>

  <!-- Pyramide -->
  <h3 class="card mt-4">PYRAMID</h3>
  <div class="card py-2">
    <app-table-detail
      [data]="gradesRoles"
      [columnas]="rolesCol"
      [text]="gradeRoleText"
    ></app-table-detail>
  </div>

  <p-divider></p-divider>

  <div class="flex items-centerml-2 mt-4">
    <div class="small-input-switch">
      <p-inputSwitch
        [(ngModel)]="screenshotEnabled"
        (onChange)="toggleScreenshot()"
        label="Screenshot"
        class="small-input-switch mt-3"
      ></p-inputSwitch>
    </div>
    <span style="margin-left: 0.5rem">Screenshot</span>
    <div class="ml-3">
      <span
        *ngIf="hasScreenshotChanged"
        style="
          color: #ffffff;
          background-color: #29abe2;
          padding: 12px;
          border-radius: 12px;
        "
      >
        El informe ha cambiado. Pulse guardar
      </span>
    </div>
  </div>

  <!-- Comentarios-->
  <div class="py-4 mt-2 flex">
    <span class="p-float-label">
      <textarea
        class="p-6"
        id="float-input"
        rows="10"
        cols="140"
        pInputTextarea
        [(ngModel)]="comentarios"
      ></textarea>
      <label for="float-input">Comentarios</label>
    </span>
  </div>

  <!-- Botón guardar-->
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
  <div class="flex align-items-center justify-content-between">
    <button
      pButton
      type="button"
      (click)="confirmUpdateReport($event)"
      pRipple
      icon="pi pi-save"
      label="Guardar"
      class="p-button p-button-primary p-button-outlined my-2;"
      tyle="width: 80px"
      title="Guardar"
    ></button>
  </div>

  <!-- Dialog exports -->
  <p-dialog
    header="Selecciona tu lista:"
    [(visible)]="visible"
    [style]="{ width: '50vw' }"
    [closable]="false"
  >
    <div class="flex flex-column ml-5">
      <div *ngFor="let elem of tableList" class="field-checkbox">
        <p-radioButton
          [inputId]="elem"
          name="category"
          [value]="elem"
          [(ngModel)]="selectedExcel"
        ></p-radioButton>
        <label [for]="elem" class="ml-2">{{ elem }}</label>
      </div>
    </div>

    <div class="flex flex-row mt-5 gap-2 justify-content-end gap-2">
      <button
        pButton
        pRipple
        styleClass=""
        label="Cancelar"
        class="p-button p-button-secondary p-button-outlined"
        (click)="closeDialog()"
      ></button>
      <button
        pButton
        pRipple
        p-button-label="10px"
        label="Exportar"
        [disabled]="selectedExcel == ''"
        (click)="exportExcel()"
      ></button>
    </div>
  </p-dialog>
</div>
