
.textBloc {
  font-size: 12px;
  border: 1px solid lightgray;
  align-items: center;
  width: 300px;
}

.azule {
  background: aliceblue;
}
.verde {
  background: lightgreen;
}

:host ::ng-deep {
  .bgBlue {
    .p-datatable .p-datatable-thead>tr>th {
      background: aliceblue;
    }
  }
  .bgGreen {
    .p-datatable .p-datatable-thead>tr>th {
      background: lightgreen;
    }
  }
}
